@import url("./Tw\ Cen\ MT.ttf");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@100;300;400;500;700&family=Raleway:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Tw Cen Mt";
  src: url("../fonts/Tw\ Cen\ MT.ttf");
}
@font-face {
  font-family: "Hastron";
  src: url("../fonts/Hastron\ FREE.ttf");
}

$font-styles: (
  sub: "Bebas Neue",
  text: "Poppins",
  heading: "Raleway",
  other: "Montserrat",
  nav: "Tw Cen Mt",
);

@function font($type) {
  @return map-get($font-styles, $type);
}

@mixin flexCenter($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
